<div class="gta__timer-block--locked">
  <h2>No subscription found for "Getsitecontrol Countdown Timer" app</h2>
  <p>Note, that inactive blocks appear only in the theme editor. They are hidden for the published store.</p>
  <a
    class="gta__timer-block-btn gta__timer-block-btn--locked"
    href="{{shop.url}}/admin/apps/getsitecontrol-countdown-timer"
    target="_blank"
  >
    Get a subscription
  </a>
</div>
